 /* <=====HERO-START====> */
 
 .hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#EAEEEF;
    border-radius: 40px;
    margin-top: 43px;
    padding: 64px 0;


}
.hero_info {
    padding-left: 69px;
}
.hero_discount {
    
    color: rgb(236, 94, 42);
font-family: DM Sans;
font-size: 48px;
font-weight: 700;
line-height: 56px;
letter-spacing: -1px;

}
.hero_title {
    padding-top: 8px;
    padding-bottom: 20px;
    color: rgb(32, 27, 33);
font-family: DM Sans;
font-size: 64px;
font-weight: 700;
line-height: 73px;
letter-spacing: -1px;


}
.hero_text{
    padding-bottom: 48px;
    color: rgb(103, 105, 110);
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0px;
text-align: left;

}
.hero_btn {
    padding: 20px 80px;
    border-radius: 10px;
    background: rgb(32, 27, 33);
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 18px;
font-weight: 700;
line-height: 20px;
transition: 0.2s all ease-in-out ;
border: 1px solid transparent;
text-wrap: nowrap;

}
.hero_icon {
    fill: aliceblue;;
    padding-left: 10px;
}
.hero_icon{
    fill: rgb(32, 27, 33);
}
.hero_btn:hover {
    border: 1px solid rgb(32, 27, 33) ;
    background-color:#EAEEEF;
    color:rgb(32, 27, 33);
    font-family: Inter;
font-size: 18px;
font-weight: 700;
}
.heroimg_block {
    max-width: 600px;
    padding: 53px 64px;
}
.hero_img {
    width: 100%;
    border: 2px dashed rgba(128, 128, 128, 0.471);
}

/* <=====HERO-End=====> */

/* <=====PRODUCT-START=====> */

.product {
    padding-top: 64px;


}

.product_title {
    color: rgb(32, 27, 33);
    font-family: DM Sans;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -1px;
    padding-bottom: 32px;
    

}

.card_list {
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-wrap: wrap;
    gap:24px;

}
.card_item {
}
.card_img_block {
    max-width: 261px;
    background-color:#F4F4F4;
}
.card_img{
    width: 100%;
    object-fit: contain;
    border: 2px dashed gray
}
.card_item_title {
    padding-top: 14px;
    color: rgb(32, 27, 33);
font-family: DM Sans;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: -0.5px;

}
.card_item_info {
    padding-bottom: 14px;
padding-top: 6px;
    color: rgb(103, 105, 110);
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0px;


}
.card_item_price {
    color: rgb(32, 27, 33);
font-family: DM Sans;
font-size: 18px;
font-weight: 500;
line-height: 24px;
letter-spacing: -0.5px;
text-align: left;
}





/* <=====PRODUCT-END====> */












@media  screen and (max-width: 1080px){
    .hero_discount{
        font-size: 36px;

    }
    .hero_title{
        font-size: 56px;
    }
    .hero_text{
        font-size: 18px;
    }
    .heroimg_block{
       max-width: 550px;
    }
    .hero_btn{
        padding: 14px 50px;
    }

}
@media  screen and (max-width: 962px){
    .hero_discount{
        font-size: 32px;

    }
    .hero_title{
        font-size: 50px;
    }
    .hero_text{
        font-size: 18px;
    }
    .heroimg_block{
       max-width: 500px;
    }
    .hero_btn{
        padding: 14px 50px;
    }

}
@media  screen and (max-width: 866px){
    .hero_discount{
        font-size: 30px;

    }
    .hero_title{
        font-size: 48px;
    }
    .hero_text{
        font-size: 18px;
    }
    .heroimg_block{
       max-width: 470px;
    }
    .hero_btn{
        padding: 14px 50px;
    }

}
@media  screen and (max-width: 825px){
    .hero{
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 16px 0;
        display: flex;
        flex-direction: column-reverse;
    }
    .hero_info{
        padding: 0 10px;
    }
    .hero_discount{
        padding: 0;
        font-size: 30px;

    }
    .hero_title{
        padding: 0;
        font-size: 44px;
    }
    .hero_text{
        padding-top: 20px;
        padding-bottom: 36px;
    }
    .heroimg_block{
       max-width: 100%;
    }
    .hero_btn{
        width: 100%;
    }

}