/* =====PRODUCT-BLOCK-START===== */
.product_top {
  display: flex;
  justify-content: space-around;
  align-items: start;
  gap: 40px;
}

.product {
}

.product_img_block {
  max-width: 546px;
  height: auto;
}
.product_img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.product_cart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  max-width: 528px;
  width: 100%;
  border-radius: 20px;

  box-shadow: 0px 4.44px 66.67px 0px rgba(0, 0, 0, 0.08);
  /* 01 */
  background: rgb(255, 255, 255);
}
.product_info_block {
  padding: 36px;
}
.product_title {
  color: rgb(32, 27, 33);
  font-family: DM Sans;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.5px;
}
.product_info {
  padding-top: 8px;
  color: rgb(103, 105, 110);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
}
.product_price {
  padding-top: 18px;
  color: rgb(32, 27, 33);
  font-family: DM Sans;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.5px;
  text-align: left;
}
.line {
  height: 2px;
  width: 100%;
  background: #2e2d2d75;
}
.product_counter {
  padding: 36px;
  display: flex;
  flex-direction: column;
}
.counret {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 12px 16px;
  gap: 16px;
  width: 136px;
  border: 1px solid rgb(233, 235, 238);
  border-radius: 10px;
  box-shadow: 0px 4.44px 66.67px 0px rgba(0, 0, 0, 0.08);
}
.product_quanity {
  padding-bottom: 16px;
  color: rgb(32, 27, 33);
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.5px;
}
.btn {
  background-color: #eeeeee;
  border-radius: 8px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #201b21;
  font-size: 18px;
}
.btn:hover {
  color: black;
}
.product_count {
  color: rgb(32, 27, 33);
  font-family: Inter;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0px;
}
.add_btn {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  border-radius: 10px;
  background: rgb(32, 27, 33);
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: inline-block;
  transition: 0.2s all ease-in-out;
  border: 1px solid transparent;
}
.add_btn:hover {
  border: 1px solid rgb(32, 27, 33);
  background-color: #eaeeef;
  color: rgb(32, 27, 33);
}
.add_btn:active {
  border: 1px solid rgb(32, 27, 33);
  background-color: #2f3232;
  color: rgb(255, 255, 255);
}
.add_btn:focus {
  border: 1px solid rgb(32, 27, 33);
  background-color: #2f3232;
  color: rgb(255, 255, 255);
}
.btn_box {
  padding-left: 36px;
  padding-right: 36px;
  padding-bottom: 36px;
}

@media (max-width: 1024px) {
  .product_img {
    width: 400px;
  }
  .product_cart {
    max-width: 350px;
    gap: 0px;
  }
}
@media (max-width: 810px) {
  .product_top {
    flex-direction: column;
  }
  .product_img {
    width: 100%;
    height: auto;
  }
  .product_img_block {
    margin: 0 auto;
  }
  .product_cart {
    margin: 0 auto;
    max-width: 550px;
    gap: 0px;
  }
}

/* =====PRODUCT-BLOCK-END===== */

/* =====PRODUCT-INFO-START===== */

/* nimadur */

.product_detail {
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.description_block {
  max-width: 540px;
}
.description_title {
  color: rgb(32, 27, 33);
  font-family: DM Sans;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.5px;
  text-align: left;
}
.line {
}
.description_text {
  padding-top: 20px;
  color: rgb(103, 105, 110);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}
.list {
  padding-top: 20px;
  padding-left: 40px;
  list-style-type: disc;
}
.list_item {
  color: rgb(103, 105, 110);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}
.item_text {
}
.product_detail_img_block {
  max-width: 530px;
}
.product_detail_img {
  width: 100%;
}
@media (max-width: 1024px) {
  .product_detail {
    flex-direction: column;
  }
  .product_detail_img_block {
    margin: 0 auto;
  }
}
